{% extends 'base.html' %}

{% block title %}Upload File{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Upload CSV File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Choose CSV file:</label>
            <input type="file" class="form-control-file" name="file" id="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <a class="btn btn-link mt-3" href="{% url 'view_files' %}">View Uploaded Files</a>
</div>
{% endblock %}
