{% extends 'base.html' %}

{% block title %}Uploaded Files{% endblock %}

{% block content %}
<h2>Uploaded Files</h2>
<form method="post" action="{% url 'view_selected_files' %}">
    {% csrf_token %}
    <ul class="list-group">
        {% for file in files %}
            <li class="list-group-item">
                <input type="checkbox" name="files" value="{{ file }}" id="{{ file }}">
                <label for="{{ file }}">{{ file }}</label>
            </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-primary mt-3">View Selected Files</button>
</form>
<a class="btn btn-link mt-3" href="{% url 'upload_file' %}">Upload More Files</a>
{% endblock %}
